<%- include("../partials/header") %>
  <!-- Theme included stylesheets -->
  <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
  <div class="" style="margin-bottom: 150px;">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Araçlar</h2>
          <p>Bu sayfadan yeni bir araç ekleyebilir, tümünü görüntüleyebilir, düzenleyebilir veya
            silebilirsiniz.</p>
          <a class="btn btn-outline-light" href="/" type="button"><i class="fas fa-chevron-left"></i> Ana
            Menü</a>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <h3 class="mb-4">Araç Oluştur</h3>
        <form action="/car" method="POST" enctype="multipart/form-data" class="m-auto needs-validation create">
          <div class="form-group mb-3">
            <label>İlan
              Adı *</label>
            <input class="form-control" required type="text" name="name" />
          </div>

          <div class="form-group mb-3">
            <label>Marka *</label>
            <select class="form-control" name="makeId" id="" required>
              <option value="">Marka seçiniz</option>
              <% for(let make of makes) { %>
                <option value="<%- make._id %>">
                  <%- make.name %>
                </option>
                <% } %>
            </select>
          </div>

          <div class="form-group mb-3">
            <label> Model *</label>
            <select class="form-control" name="modelId" id="" required>
              <option value="">Lütfen önce marka seçiniz</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label>Seri *</label>
            <select class="form-control" name="serieId" id="" required>
              <option value="">Lütfen önce model seçiniz</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label>Araç Fiyatı *</label>
            <input class="form-control" required type="number" name="price" />
          </div>

          <div class="form-group mb-3">
            <label>Model Yılı *</label>
            <input class="form-control" required type="number" name="year" />
          </div>

          <div class="form-group mb-3">
            <label>Araç KM *</label>
            <input class="form-control" required type="number" name="km" />
          </div>

          <div class="form-group mb-3">
            <label>Araç Durumu</label>
            <select class="form-control" type="text" name="status">
              <option value="İkinci El">İkinci El</option>
              <option value="Sıfır">Sıfır</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label>Yakıt Tipi</label>
            <select class="form-control" type="text" name="fuelType">
              <option value="Benzin">Benzin</option>
              <option value="Dizel">Dizel</option>
              <option value="Hybrid">Hybrid</option>
              <option value="Elektrik">Elektrik</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label>Araç Tipi</label>
            <select class="form-control" type="text" name="vehicleType">
              <option value="Hatchpack">Hatchpack</option>
              <option value="Sedan">Sedan</option>
              <option value="Sport">Sport</option>
              <option value="Super Sport">Super Sport</option>
              <option value="SUV">SUV</option>
              <option value="Cabrio">Cabrio</option>
              <option value="Coupe">Coupe</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label>Beygir</label>
            <input class="form-control" type="number" name="horsePower" />
          </div>

          <div class="form-group mb-3">
            <label>Çekiş</label>
            <select class="form-control" type="text" name="driveTrain">
              <option value="Önden Çekiş">Önden Çekiş</option>
              <option value="Arkadan İtiş">Arkadan İtiş</option>
              <option value="4x4">4x4</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label>Vites</label>
            <select class="form-control" type="text" name="gearType">
              <option value="Otomatik">Otomatik</option>
              <option value="Yarı Otomatik">Yarı Otomatik</option>
              <option value="Manuel">Manuel</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label>Renk</label>
            <input class="form-control" type="text" name="color" />
          </div>


          <div class="form-group mb-3">
            <label>İlan Açıklaması</label>
            <div class="rich-text">
              <div id="desc">
                <br><br>
              </div>
              <input type="hidden" name="description">
            </div>
          </div>

          <div class="form-group mb-3">
            <label>Standart Donanım</label>
            <div class="rich-text">
              <div id="baseModel">
                <br><br>
              </div>
              <input type="hidden" name="baseModel">
            </div>
          </div>

          <div class="form-group mb-3">
            <label>Opsiyonel Donanım</label>
            <div class="rich-text">
              <div id="optionalSelection">
                <br><br>
              </div>
              <input type="hidden" name="optionalSelection">
            </div>
          </div>

          <div class="form-group mb-3">
            <label>Aracın Teknik Özellikleri</label>
            <div class="rich-text">
              <div id="technicalDetails">
                <br><br>
              </div>
              <input type="hidden" name="technicalDetails">
            </div>
          </div>

          <div class="form-group mb-3">
            <label>Tramer Kaydı</label>
            <textarea class="form-control" name="tramerRecord"></textarea>
          </div>

          <div class="form-group mb-3">
            <label>Ekspertiz Rapor Resmi</label>
            <input type="file" class="form-control" name="expertiseReportImage">
          </div>


          <div class="form-group mb-3">
            <label>Araç Resimleri *</label>
            <input type="file" required multiple class="form-control" name="carImages">
          </div>

          <input type="hidden" name="language" value="tr">
          <div class="form-group text-end">
            <input type="submit" class="btn btn-dark px-4" value="Oluştur" />
          </div>
        </form>
      </div>
      <div class="col-md-8">
        <h3 class="mb-4">Araçlar Listesi</h3>
        <table class="table table-dark table-striped" id="data-table" style="table-layout: fixed;">
          <thead>
            <tr>
              <th colspan="2">İlan Adı</th>
              <th>Marka</th>
              <th>Model</th>
              <th>Seri Adı</th>
              <th>İşlemler</th>
            </tr>
          </thead>
          <tbody>
            <% for(let car of cars) {%>
              <tr data-id="<%= car._id %>">
                <td colspan="2">
                  <%= car?.name %>
                </td>
                <td>
                  <%= car?.serie?.model?.make?.name %>
                    <img src="<%= car?.serie?.model?.make?.logo?.url %>" height="30" alt="">
                </td>
                <td>
                  <%= car?.serie?.model?.name %>
                </td>
                <td>
                  <%= car?.serie?.name %>
                </td>
                <td>
                  <a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#editModal">Düzenle</a>
                  <a class="btn btn-outline-danger btn-sm delete-button">Sil</a>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Model Düzenle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form action="/car" method="PUT" enctype="multipart/form-data"
              class="m-auto needs-validation create row w-100">
              <div class="form-group mb-3 col-md-6">
                <label>İlan
                  Adı *</label>
                <input class="form-control" required type="text" name="name" />
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Marka *</label>
                <select class="form-control" name="makeId" id="" required>
                  <option value="">Marka seçiniz</option>
                  <% for(let make of makes) { %>
                    <option value="<%- make._id %>">
                      <%- make.name %>
                    </option>
                    <% } %>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label> Model *</label>
                <select class="form-control" name="modelId" id="" required>
                  <option value="">Lütfen önce marka seçiniz</option>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Seri *</label>
                <select class="form-control" name="serieId" id="" required>
                  <option value="">Lütfen önce model seçiniz</option>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Araç Fiyatı *</label>
                <input class="form-control" required type="number" name="price" />
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Model Yılı *</label>
                <input class="form-control" required type="number" name="year" />
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Araç KM *</label>
                <input class="form-control" required type="number" name="km" />
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Araç Durumu</label>
                <select class="form-control" type="text" name="status">
                  <option value="İkinci El">İkinci El</option>
                  <option value="Sıfır">Sıfır</option>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Yakıt Tipi</label>
                <select class="form-control" type="text" name="fuelType">
                  <option value="Benzin">Benzin</option>
                  <option value="Dizel">Dizel</option>
                  <option value="Hybrid">Hybrid</option>
                  <option value="Elektrik">Elektrik</option>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Araç Tipi</label>
                <select class="form-control" type="text" name="vehicleType">
                  <option value="Hatchpack">Hatchpack</option>
                  <option value="Sedan">Sedan</option>
                  <option value="Sport">Sport</option>
                  <option value="Super Sport">Super Sport</option>
                  <option value="SUV">SUV</option>
                  <option value="Cabrio">Cabrio</option>
                  <option value="Coupe">Coupe</option>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Beygir</label>
                <input class="form-control" type="number" name="horsePower" />
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Çekiş</label>
                <select class="form-control" type="text" name="driveTrain">
                  <option value="Önden Çekiş">Önden Çekiş</option>
                  <option value="Arkadan İtiş">Arkadan İtiş</option>
                  <option value="4x4">4x4</option>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Vites</label>
                <select class="form-control" type="text" name="gearType">
                  <option value="Otomatik">Otomatik</option>
                  <option value="Yarı Otomatik">Yarı Otomatik</option>
                  <option value="Manuel">Manuel</option>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label>Renk</label>
                <input class="form-control" type="text" name="color" />
              </div>

              <div class="form-group mb-3">
                <label>İlan Açıklaması</label>
                <div class="rich-text">
                  <div id="desc-edit">
                    <br>
                  </div>
                  <input type="hidden" name="description">
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Standart Donanım</label>
                <div class="rich-text">
                  <div id="baseModel-edit">
                    <br>
                  </div>
                  <input type="hidden" name="baseModel">
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Opsiyonel Donanım</label>
                <div class="rich-text">
                  <div id="optionalSelection-edit">
                    <br>
                  </div>
                  <input type="hidden" name="optionalSelection">
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Aracın Teknik Özellikleri</label>
                <div class="rich-text">
                  <div id="technicalDetails-edit">
                    <br>
                  </div>
                  <input type="hidden" name="technicalDetails">
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Tramer Kaydı</label>
                <textarea class="form-control" name="tramerRecord"></textarea>
              </div>

              <div class="form-group mb-3">
                <label>Ekspertiz Rapor Resmi</label>
                <input type="file" class="form-control" name="expertiseReportImage">
              </div>

              <div class="form-group mb-3">
                <label>Araç Resimleri *</label>
                <input type="file" required multiple class="form-control" name="carImages">
              </div>

              <input type="hidden" name="language" value="tr">
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Kapat</button>
          <button type="button" class="btn btn-dark" id="update-button">Güncelle</button>
        </div>
      </div>
    </div>
  </div>


  <%- include("../partials/footer") %>
    <!-- Main Quill library -->
    <script async src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

    <script>
      $(document).ready(async function () {

        let selectedId = null;
        let selectedMakeId = null;
        let selectedModelId = null;
        const allData = parser(`<%- JSON.stringify(makes) %>`);
        const series = parser(`<%- JSON.stringify(series) %>`);
        const cars = await fetchCars();
        console.log(cars)

        $('#data-table tbody tr').on('click', function () {
          selectedId = $(this).closest('tr').data().id;
          const clickedRowData = cars.find(e => e._id === selectedId);
          console.log(clickedRowData)

          $('#editModal input[name="name"]').val(clickedRowData.name);
          $('#editModal select[name="makeId"]').val(clickedRowData.make._id);
          $('#editModal select[name="makeId"]').change();
          $('#editModal select[name="modelId"]').val(clickedRowData.model._id);
          $('#editModal select[name="modelId"]').change();
          $('#editModal select[name="serieId"]').val(clickedRowData.serie._id);
          $('#editModal select[name="serieId"]').change();
          $('#editModal input[name="price"]').val(clickedRowData.price);
          $('#editModal input[name="year"]').val(clickedRowData.year);
          $('#editModal input[name="km"]').val(clickedRowData.km);
          $('#editModal select[name="status"]').val(clickedRowData.status);
          $('#editModal select[name="fuelType"]').val(clickedRowData.fuelType);
          $('#editModal select[name="vehicleType"]').val(clickedRowData.vehicleType);
          $('#editModal input[name="horsePower"]').val(clickedRowData.horsePower);
          $('#editModal select[name="driveTrain"]').val(clickedRowData.driveTrain);
          $('#editModal select[name="gearType"]').val(clickedRowData.gearType);
          $('#editModal input[name="color"]').val(clickedRowData.color);
          $('#editModal textarea[name="tramerRecord"]').val(clickedRowData.tramerRecord);

          editDesc.container.firstChild.innerHTML = clickedRowData.description;
          editBaseModel.container.firstChild.innerHTML = clickedRowData.baseModel;
          editOptionalSelection.container.firstChild.innerHTML = clickedRowData.optionalSelection;
          editTechnicalDetails.container.firstChild.innerHTML = clickedRowData.technicalDetails;
        });

        $('select[name="makeId"]').on('change', function () {
          let makeId = $(this).val();
          const models = allData.find(e => e._id == makeId)?.models;
          const modelSelect = $(this).closest('form').find('select[name="modelId"]');
          modelSelect.empty();
          if (models && models.length > 0) {
            models.forEach(e => {
              modelSelect.append(`<option value="${e._id}">${e.name}</option>`);
            });
          } else {
            modelSelect.append(`<option value="">Lütfen önce marka seçiniz</option>`);
          }
          $('select[name="modelId"]').change();
        });

        $('select[name="modelId"]').on('change', function () {
          let makeId = $(this).closest('form').find('select[name="makeId"]').val();
          let modelId = $(this).val();
          const series = allData.find(e => e._id == makeId)?.models.find(e => e._id == modelId)?.series;
          console.log(series);
          const serieSelect = $(this).closest('form').find('select[name="serieId"]');
          serieSelect.empty();
          if (series && series.length > 0) {
            series.forEach(e => {
              serieSelect.append(`<option value="${e._id}">${e.name}</option>`);
            });
          } else {
            serieSelect.append(`<option value="">Lütfen önce model seçiniz</option>`);
          }
        });

        // make ajax request for update
        $('#update-button').on('click', function () {
          $('#editModal form').find('.rich-text').each((index, item) => {
            const richText = $(item).find('.ql-editor')?.html();
            $(item).find('input[type="hidden"]').val(richText);
          })

          let formData = $('#editModal form')[0];
          let data = new FormData(formData);
          $.ajax({
            url: '/car/' + selectedId,
            type: 'PUT',
            data: data,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (response) {
              $('#editModal').modal('hide');

              Swal.fire({
                position: 'bottom-end',
                icon: 'success',
                title: 'Kayıt Başarıyla Güncellendi.',
                showConfirmButton: false,
                timer: 1000
              })
              setTimeout(() => {
                location.reload();
              }, 1200)
            },
            error: function (err) {
              console.log(err);
              Swal.fire({
                position: 'bottom-end',
                icon: 'danger',
                title: 'Kayıt Güncellenirken Hata Oluştu.',
                showConfirmButton: false,
                timer: 1000
              })
            }
          });
        });

        // maje ajax request for delete
        $('.delete-button').on('click', function () {
          Swal.fire({
            title: 'Silmek istediğinize emin misiniz?',
            text: "Bu işlem geri alınamaz!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, sil!'
          }).then((result) => {
            if (result.value) {
              $.ajax({
                url: '/car/' + selectedId,
                type: 'DELETE',
                success: function (response) {
                  $('#data-table tbody tr[data-id="' + selectedId + '"]').remove();
                  Swal.fire({
                    position: 'bottom-end',
                    icon: 'success',
                    title: 'Kayıt Başarıyla Silindi.',
                    showConfirmButton: false,
                    timer: 1000
                  })
                },
                error: function (err) {
                  console.log(err);
                  Swal.fire({
                    position: 'bottom-end',
                    icon: 'danger',
                    title: 'Kayıt Silinirken Hata Oluştu.',
                    showConfirmButton: false,
                    timer: 1000
                  })
                }
              });
            }
          })
        });


        var toolbarOptions = [
          ['bold', 'italic', 'underline'],        // toggled buttons
          [{ 'list': 'ordered' }, { 'list': 'bullet' }],
          [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
          [{ 'font': [] }],
          [{ 'align': [] }],
        ];

        var options = {
          modules: {
            toolbar: toolbarOptions
          },
          theme: 'snow'
        };
        new Quill('#desc', options);
        new Quill('#baseModel', options);
        new Quill('#optionalSelection', options);
        new Quill('#technicalDetails', options);
        var editDesc = new Quill('#desc-edit', options);
        var editBaseModel = new Quill('#baseModel-edit', options);
        var editOptionalSelection = new Quill('#optionalSelection-edit', options);
        var editTechnicalDetails = new Quill('#technicalDetails-edit', options);

        $('form').on('submit', function (e) {
          $(this).find('.rich-text').each((index, item) => {
            const richText = $(item).find('.ql-editor')?.html();
            $(item).find('input[type="hidden"]').val(richText);
          })
          return true;
        })

      });

      const parser = (data) => {
        data = data.replace(/\\n/g, "\\n")
          .replace(/\\'/g, "\\'")
          .replace(/\\"/g, '\\"')
          .replace(/\\&/g, "\\&")
          .replace(/\\r/g, "\\r")
          .replace(/\\t/g, "\\t")
          .replace(/\\b/g, "\\b")
          .replace(/\\f/g, "\\f");
        // remove non-printable and other non-valid JSON chars
        data = data.replace(/[\u0000-\u0019]+/g, "");
        console.log(typeof data);
        const result = JSON.parse(data);
        console.log(typeof result);
        console.log(result);
        return result;
      }

      async function fetchCars() {
        Swal.fire({
          title: 'Yükleniyor...',
          html: 'Araçlar yüklenince otomatik kapanacaktır.',
          showConfirmButton: false,
          imageUrl: 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Loader.gif/480px-Loader.gif'
        })
        const response = await fetch('/api/v1/cars');
        const cars = await response.json();
        Swal.close();
        return cars;
      }
    </script>